.container {
    display: flex;
    height: 64px;
    flex-direction: row;
    padding-bottom: 16px;
}

.container:last-child {
    padding-bottom: 0;
}

.image {
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    border: 2px solid #801AB2;
}
.name {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
