.container {
    width: 640px;
    margin: 0 auto;
    
}

.ingredients {
    overflow-y: scroll;
    height: 320px;
    scrollbar-color: #8585AD #2F2F37;
    scrollbar-width: 8px;
}

.ingredients::-webkit-scrollbar {
    width: 8px;
    height: auto;
    background-color: #2f2f37;
}

.ingredients::-webkit-scrollbar-thumb {
    background-color: #8585ad;
}

.number {
    text-align: center;
}

.status {
    color: #00CCCC;
}

.service_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date {
    color: #8585AD;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0
}

.price_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0
}