.page {
    padding-top: 41px;
}

.main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}   
.link {
    padding-top: 20px;
    padding-left: 40px;
    text-decoration: none;
    color: #F2F2F3
}