.page {
    padding-top: 41px;
    padding-bottom: 40px;
    max-width: 1280px;
    margin: 0 auto;
}

.main {
    width: 1240px;
    padding-top: 180px;
    margin: 0 auto;
}

.container{
    width: 480px;
    height: 430px;
    margin: 0 auto;
}

.header {
    text-align: center;
    height: 30px;
}

.form_container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs_container {
    margin: 0 auto;
    height: 152px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid grey;
}

.text {
    margin: 0;
    color: #8585AD;
    text-align: center;
}

.link {
    text-decoration: none;
    color: #4C4CFF;
}