/* .container {
    width: 608px;    
} */

.list {
    height: 650px;
    overflow-y: scroll;
    scrollbar-color: #8585AD #2F2F37;
    scrollbar-width: 8px;
}

.list::-webkit-scrollbar {
    width: 8px;
    height: auto;
    background-color: #2f2f37;
}

.list::-webkit-scrollbar-thumb {
    background-color: #8585ad;
}
