.nav_container {
    text-decoration: none;
    width: 320px;
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
    height: 64px;
    color: #8585AD;
}

.current_page {
    color: #F2F2F3;
}