.ingridients {
    width: 600px;
}

.menu {
    overflow-y: scroll;
    height: 800px;
}

.category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    width: 100%;
    margin: 0;
    text-align: start;
}

.counter {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    background-color: #4c4cff;
    color: #f2f2f3;
    position: absolute;
    /*
    Text Style: desktop/digits small
    Font family: Iceland
    Font style: Regular
    Font size: 28px
    Line height: 24px
    Line height: 88%
    Align: Center
    Vertical align: Center
    */
}